* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
    display: grid;

}
.content-cabecera {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin:10px;

}

.content-logo {
    background-color: #262ec3;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    margin: auto;
}

    .content-logo img {
        width: 100%;
        height: 100%;
    }

.content-cabecera h1{
    color: blue;
    margin-top: 20px;
    font-size:200px;
}

.content-cabecera p {
    margin-top: 80px;
    text-align: center;
}


nav {
   
    margin-top: 10px;

    background-color: #282727;
    font-family: Calibri;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    ul li {
        float: left;
        margin-left: 1%;
    }

        ul li a {
            text-decoration: none;
            display: block;
            padding: 8px;
            color: white;
        }

            ul li a:hover {
                background: #3c3a3a;
            }

.buscador {
    width: 100%;
}

input, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#peliculaBuscador {
    width: 90%;
    font-size: 1rem;
}


#botonFiltro{
    color: white;
    background-color: #262ec3;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    float: left;
    margin-right:0.5%;
}

#botonFiltro:hover {
    background: #5d5bf7;
}



#submit {
    color: white;
    background-color: #262ec3;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    float: left;
    margin-right:10%;
}


    #submit:hover {
        background: #5d5bf7;
    }


/*resultado de busqueda*/

.container {
    background-color:#161616;
    width: 100%;
    margin: 10px;
    padding:5px;
    border-radius: 10px;

}

.colum {
    position: static;
    padding: 10px;
    float: left;
    width: 80%;
    margin: 0,5%;
    background-color:black;
    border: 2px;
    border-radius: 10px;
}

.colum img{
    width: 70%;
    height: 80%;
}

.colum h3 {
    background-color:red;
    font-size: 100%;
    width:70%;
}
.colum h4 {
 margin-top:10px;
float: unset;
font-size: 60%;
}


#sharebutton {
    position: page;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    background-color: #6c17c2;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    float: left;
}

    #sharebutton:hover {
        background: #5d5bf7;
    }

.sharewithfriend {
    margin-left: 30%;
    margin-right: 30%;
}

#buscarMas{
    margin-top:20px;
    position: static;
    float:right;
    
}

/*----------------------------------------*/
.margenTop {
    margin-top: 1%;
}

footer .centro {
    font-size: 12px;
}

.about {
    display: block;
}

    .about h2 {
        font-size: 30px;
    }

    .about h4 {
        font-size: 20px;
        position: center;
        margin: 2%;
    }

#myMap {
    height: 250px;
    width:80%;
    margin: 10%;
    display: block;
}


@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */
    .colum {
        width: 50%;
    }


        .colum img {
            width: 70%;
            height: 80%;
        }



    .content-logo {
        width: 15%;
        height: 15%;
        float: right;
        margin-right:20px;
    }

    #margenPeli{
        margin-top: 55%;
    }

 
}

@media (min-width:768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .content-logo {
        width: 10%;
        height: 10%;
    }
    .colum {
        width: 33.33333333%;
    }
        .colum img {
            width: 70%;
            height: 80%;
        }

        .colum h2 {
            font-size: 180%;
            width: 100%;
        }

        .colum h3 {
            background-color: red;
            font-size: 150%;
            width: 80%;
        }

        .colum h4 {
            margin-top: 10px;
            float: unset;
            font-size: 120%;
        }


    #sharebutton {
        font-size: 1.5rem;
       
    }



}




@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    .content-logo {
        width: 7%;
        height: 7%;
        
    }
    .colum {
        width: 25%;
    }


        .colum img {
            width: 80%;
            height: 90%;
        }

        .colum h2 {
            font-size: 220%;
            width: 100%;
        }

        .colum h3 {
            background-color: red;
            font-size: 200%;
            width: 80%;
        }

        .colum h4 {
            margin-top: 10px;
            float: unset;
            font-size: 150%;
        }


    #sharebutton {
        font-size: 1.8rem;
    }
}



@media (min-width:1200px) { /* hi-res laptops and desktops */

    .colum {
        width: 20%;
    }


        .colum img {
            width: 90%;
            height: 100%;
        }
        .colum:hover {
            margin-left: 0 80px;
            transform: scale(1.2);
        }


    .colum h2 {
        font-size: 220%;
        width: 100%;
    }

        .colum h3 {
            background-color: red;
            font-size: 200%;
            width: 80%;
        }

        .colum h4 {
            margin-top: 10px;
            float: unset;
            font-size: 150%;
        }


    #sharebutton {
        font-size: 2rem;
    }

}
