* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
    display: grid;

}
.content-cabecera {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin:10px;

}

.content-logo {
    background-color: #262ec3;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    margin: auto;
}

    .content-logo img {
        width: 100%;
        height: 100%;
    }

.content-cabecera h1{
    color: blue;
    margin-top: 20px;
    font-size:200px;
}

.content-cabecera p {
    margin-top: 80px;
    text-align: center;
}


nav {
   
    margin-top: 10px;

    background-color: #282727;
    font-family: Calibri;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    ul li {
        float: left;
        margin-left: 1%;
    }

        ul li a {
            text-decoration: none;
            display: block;
            padding: 8px;
            color: white;
        }

            ul li a:hover {
                background: #3c3a3a;
            }

.buscador {
    width: 100%;
}

input, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#peliculaBuscador {
    width: 50%;
    font-size: 1rem;
}


#botonFiltro{
    color: white;
    background-color: #262ec3;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    float: left;
    margin-right:0.5%;
}

#botonFiltro:hover {
    background: #5d5bf7;
}



#submit {
    color: white;
    background-color: #262ec3;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    float: left;
    margin-right:10%;
}


    #submit:hover {
        background: #5d5bf7;
    }


/*resultado de busqueda*/

.container {
    
    width: 100%;
    margin: 10px;
    padding:5px;
    border-radius: 10px;

}
    .container h2 {
        background-color: #161616;
    }

.colum {
    position: static;
    padding: 10px;
    float: left;
    width: 80%;
    margin: 0,5%;
    background-color: #282727;
    border: 2px;
    border-radius: 10px;
    margin-top: 5px;
    margin:0.5%;
}

.colum img{
    width: 100%;
    height: 80%;
    position:center;

}

.colum h3 {
    text-align: center;
    font-size: 110%;
    margin:5px;

}
.colum h4 {
 margin-top:10px;
float: unset;
font-size: 90%;
}


#sharebutton {
    display: block;
    height: 20%;
    width: 40%;
    min-width:90px;
    position: page;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    background-color: #6c17c2;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    float: left;
}

    #sharebutton:hover {
        background: #5d5bf7;
    }


#sharebuttonn {
    display: block;
    height: 20%;
    width: 40%;
    min-width: 90px;
    position: page;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    background-color: #6c17c2;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    float: left;
}
    
        #sharebuttonn:hover {
            background: #5d5bf7;
        }

.sharewithfriend {
    margin-left: 30%;
    margin-right: 30%;
}

#buscarMas{
    margin-top:20px;
    position: static;
    float:right;
    
}

/*----------------------------------------*/
.margenTop {
    margin-top: 1%;
}

footer .centro {
    font-size: 12px;
}


.about {
    background-color: #282727;
    border-color: white;
    border-radius: 0.5%;
}

    .about h2 {
        font-size: 30px;
    }

    .about h6 {
        margin-top: 0;
    }

#myMap {
    margin-top:0;
    position:center;
    border-radius:0.5%;
    background-color: white;
    height: 250px;
    width:80%;
    margin: 10%;
    display: block;
}

#mensajito, #mailcito{
    background-color:#f58a8a;
    border-radius:1%;
    float:unset;


}



@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */
    
    .colum {
     
        width: 40%;
        height: 90%;
        max-width
    }


        /*.colum img {
            width: 150px;
            height: 230px;
        }*/



    .content-logo {
        width: 15%;
        height: 15%;
        float: right;
        margin-right:20px;
    }

    #margenPeli{
        margin-top: 55%;
    }

    .colum h3 {
        /*background-color: red;*/
        font-size: 110%;
        width: 150px;
        height: 70px;
    }

 
}

@media (min-width:768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .content-logo {
        width: 10%;
        height: 10%;
    }
    .colum {
        width: 32.33%;
        height: 90%;
    }
      /*  .colum img {
            width: 160px;
            height: 260px;
        }*/

     /*   .colum h2 {
            font-size: 180%;
            width: 100%;
        }
*/
       /* .colum h3 {
            background-color: red;
            font-size: 150%;
            width: 160px;
            height: 160px;
        }*/

       /* .colum h4 {
            margin-top: 10px;
            float: unset;
            font-size: 120%;
        }
*/

/*    #sharebutton {
        font-size: 1.5rem;
       
    }
*/


}




@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    .content-logo {
        width: 7%;
        height: 7%;
        
    }
    .colum {
        width: 24%;
        height: 90%;
    }

        .colum:hover {
            margin-left: 0 80px;
            transform: scale(1.2);
            background-color: tomato;
            opacity: 0.999;
        }

      /*  .colum img {
            width: 160px;
            height: 270px;
        }
*/
        /*.colum h2 {
            font-size: 220%;
            width: 100%;
        }*/

        /*.colum h3 {
            background-color: red;
            font-size: 200%;
            width: 160px;
            height: 160px;

        }*/

        /*.colum h4 {
            margin-top: 10px;
            float: unset;
            font-size: 150%;
        }
*/

    /*    #sharebutton {
        font-size: 1rem;
    }*/
}



@media (min-width:1200px) { /* hi-res laptops and desktops */

    .colum {
        width: 19%;
      
    }

/*
        .colum img {
            width: 250px;
            height: 360px;
            max-height:100%;
            max-width:100%;
        }*/
        /*.colum:hover {
            margin-left: 0 80px;
            transform: scale(1.2);
            background-color:tomato;
            opacity:0.999;
            
        }
*/
 


   /* .colum h2 {
        font-size: 10%;
        width: 100%;
    }*/

        /*.colum h3 {*/
            /*background-color: red;*/
            /*font-size: 200%;*
          /*  width: 250px;
            height: 250px;*/
        /*}*/

      /*  .colum h4 {
            margin-top: 10px;
            float: unset;
            font-size: 150%;
        }

*/
    /*#sharebutton {
        font-size: 2rem;
    }*/

}
