body{
    background-color:black;
    color:white;
}

h1{
    color:white;
    font-size: 250%;
}
h2 {
    color: white;
    font-size: 100%;
    margin: 10px;
    padding: 10px;
    margin-bottom:10px;
}
h3 {
    color: white;
    font-size: 180%;
}
h4 {
    color: white;
    font-size: 90%;
    display: block;
    float: left;
}
h5 {
    color: white;
}

nav {
    grid-area: nav;
    background-color: #282727;
    font-family: Calibri;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    ul li {
        float: right;
        margin-left: 1%;
    }

        ul li a {
            text-decoration: none;
            display: block;
            padding: 8px;
            color: white;
        }

            ul li a:hover {
                background: #3c3a3a;
            }

#peliculaBuscador{
    width: 50%;
    font-size: 1rem;


}
#submit {
    color:white;
    background-color: #262ec3;
    font-size: 1rem;
    outline:none;
    min-height:10px;
    font-weight:400;
    text-align:center;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;

}

#sharebutton {
    color: white;
    text-decoration:none;
    background-color: #6c17c2;
    font-size: 1rem;
    outline: none;
    min-height: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
}

#submit:hover{
    background: #5d5bf7;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.sharewithfriend {
    margin-left: 30%;
    margin-right: 30%;
}

label {
    margin-top: 30%;
}

.margenTop {
    margin-top: 1%;
}

footer .centro {
    font-size: 12px;
}


    @media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    }

    @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */


    }

    @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    }

    @media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */

    }

    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    }

    @media (min-width:1281px) { /* hi-res laptops and desktops */


    }
